PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:4173/
DOCUMENTS_STORAGE_ROOT=C:\Helpdesk-Saas\.storage

SQLSERVER_HOST=SWINMAALPRD0008
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=PROTECNICOSBD
SQLSERVER_USER=tecnicos
SQLSERVER_PASSWORD=AQUI_TU_PASSWORD
SQLSERVER_ENCRYPT=true
SQLSERVER_TRUST_CERT=true

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common
MICROSOFT_REDIRECT_URI=http://localhost:3001/api/auth/microsoft/callback

VITE_API_BASE_URL=http://localhost:3001
BASE_PATH=/
